<!DOCTYPE html>
<html>

<head>
    <%
        var options = htmlWebpackPlugin.options;
        var env = htmlWebpackPlugin.options.env;
    %>

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=1024, initial-scale=0.3, maximum-scale=1">

    <title>
        <%- options.title %>
    </title>

    <% if (htmlWebpackPlugin.files.favicon) { %>
        <link rel="shortcut icon" href="<%- htmlWebpackPlugin.files.favicon %>" />
    <% } %>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%- htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
    <% } %>
</head>

<body>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%- htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>

</html>
