$font-path: "~renderer/assets/fonts";

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;

    src: url($font-path + "/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;

    src: url($font-path + "/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 200;
    font-style: normal;

    src: url($font-path + "/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 200;
    font-style: italic;

    src: url($font-path + "/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;

    src: url($font-path + "/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: italic;

    src: url($font-path + "/OpenSans-BoldItalic.ttf") format("truetype");
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

    position: relative;
    top: 0;
    left: 0;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    user-select: none;

    background: #333;

    -webkit-app-region: drag;
}

* {
    outline: none !important;
}
